<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube DL</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <header class="bg-red-900 text-red-100">
        <nav>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Fork</a>
            <a href="">Hello</a>
        </nav>
    </header>
    <main class="">
        <!-- Wrapper -->
      <div class="min-h-screen">
        <div class="flex items-center justify-center bg-gradient-to-b from-red-800 to-red-100 ">
            <div class="">
                <img src="logo.svg" alt="Youtube DL" class="">
            </div>
            <div class="absolute mt-62">
                <h2>Youtube Video Downloader</h2>
            <input type="" class="">
            <button class="border">Download</button>
            </div>
           
        </div>
      

      </div>
    </main>
</body>
</html>